.banner-page{
    position: relative;
    margin-bottom: 24px;

    img{
        height: 140px;
        width: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }
}


@media only screen and (min-width: 768px){

    .banner-page{
        margin-bottom: 36px;
        img{
            height: 220px;
        }
    }
}

@media only screen and (min-width: 960px){

    .banner-page{
        img{  height: 280px; }
    }

}

@media only screen and (min-width: 1140px){
    .banner-page{
        margin-bottom: 48px;
        img{  height: 340px; }
    }

}