.banner-page{
    position: relative;
    margin-bottom: 24px;

    img{
        height: 140px;
        width: 100%;
        display: block;
        object-fit: cover;
        object-position: center;
    }

    &::before{
        content: 'Foto por: Cláudio Nicoletti';
        position: absolute;
        bottom: 16px;
        right: 16px;
        font-size: 12px;
        border-radius: 4px;
        color: $branco;
        font-weight: $medium;
    }
}


@media only screen and (min-width: 768px){

    .banner-page{
        margin-bottom: 36px;
        img{
            height: 220px;
        }

        &::before{
            bottom: 24px;
            right: 24px;
            font-size: 14px;
        }
    }
}

@media only screen and (min-width: 960px){

    .banner-page{
        img{  height: 280px; }
    }

}

@media only screen and (min-width: 1140px){
    .banner-page{
        margin-bottom: 48px;
        img{  height: 340px; }
    }

}