$rosa: #CA407E;
$roxo: #6E2D83;
$marrom: #4F2A2D;
$amarelo: #EEA74F;

$roxo-claro: rgba(110, 45, 131, .16);
$rosa-claro: rgba(202, 64, 126, .16);

$preto: #353534;
$branco: #ffffff;


$regular: 400;
$medium: 500;
$semibold: 600;