$cor-principal: #CA407E;
$cor-secundaria: #6E2D83;
$cor-terciaria: #4F2A2D;

$borda: rgba(110, 45, 131, .16);

$preto: #353534;
$branco: #ffffff;


$regular: 400;
$medium: 500;
$semibold: 600;